.babylon-viewer {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    touch-action: none;
}
.menu-layer {
    position: absolute;
    z-index: 0;
    
}
.menu-left .menu-arrow {
    position: absolute;
    z-index: 0;
    background-image: linear-gradient(to right, rgb(0,0,0) , rgba(0,0,0,0));
}
.menu-right .menu-arrow {
    position: absolute;
    z-index: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0) , rgb(0,0,0));
}
.menu-top .menu-arrow {
    position: absolute;
    z-index: 0;
    background-image: linear-gradient(to top, rgb(0,0,0) , rgba(0,0,0,0));
}
.menu-bottom .menu-arrow {
    position: absolute;
    z-index: 0;
    background-image: linear-gradient(to bottom, rgb(0,0,0) , rgba(0,0,0,0));
}
.menu-button {
    position: relative;
    right: 50px;
    width: 100px;
    top: -10px;
    height: 22px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item {
    position: relative;
}
.menu-caption {
    position: absolute;
    font-size: 16px;
    color: black;
    width: 100px;
    height: 20px;
    width: 100px;
}
.menu-right .menu-caption {
    left: 55px;
}
.menu-left .menu-caption {
    left: -155px;
    text-align: right;
}
.menu-top .menu-caption, .menu-bottom .menu-caption {
    left: -155px;
    text-align: right;
}
.menu-space-line {
    height: 25px;
    width: 1px;
    margin-left: -1px;
    background: black;
}
.menu-space-line-long {
    height: 40px;
    width: 1px;
    margin-left: -1px;
    background: black;
}
.menu-option-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: -10px;
    cursor: pointer;
    padding: 3px;
}

.menu-item-label {
    position: relative;    
    font-size: 12px;
    color: black;
}


.menu-left .menu-items-wrapper {
    top: -10px;
    height: 150px;
    width: 200px;
    position: relative;
}
.menu-right .menu-items-wrapper {
    bottom: 181px;
    height: 150px;
    width: 200px;
    right: 200px;
    position: relative;    
    display: flex;
    flex-direction: column-reverse;
}

.menu-top .menu-items-wrapper {
    top: -10px;
    height: 150px;
    width: 200px;
    position: relative;
}
.menu-bottom .menu-items-wrapper {
    bottom: 181px;
    height: 150px;
    width: 200px;
    position: relative;    
    display: flex;
    flex-direction: column-reverse;
}

.menu-left  .menu-items-wrapper .menu-item {
    display: flex;
    flex-direction: column;    
}
.menu-right .menu-items-wrapper .menu-item {
    display: flex;
    flex-direction: column-reverse;    
}

.menu-left .menu-items-wrapper .menu-caption {
    right: 90px;
    
}
.menu-right .menu-items-wrapper .menu-caption {
    
}
.menu-top  .menu-items-wrapper .menu-item {
    display: flex;
    flex-direction: column;    
}
.menu-bottom  .menu-items-wrapper .menu-item {
    display: flex;
    flex-direction: column-reverse;    
}
.menu-left .menu-items-wrapper .menu-item .menu-item-label {
    width: 100px;
    text-align: right;
    left: -117px;
    top: -9px;
}
.menu-right .menu-items-wrapper .menu-item .menu-item-label {
    top: 10px;
    right: -15px;
}

.menu-top .menu-items-wrapper .menu-item .menu-item-label {
    width: 100px;
    text-align: right;
    left: -117px;
    top: -9px;
}
.menu-bottom .menu-items-wrapper .menu-item .menu-item-label {
    top: 10px;
    right: -15px;
}
.menu-right .menu-items-wrapper .menu-item {
    right: -230px;
}

.menu-control {
    position: absolute;
    width: 230px;
    height: 32px;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.menu-left .menu-control, .menu-top .menu-control {
    left: 19px;
    bottom: -6px;
}
.menu-right .menu-control, .menu-bottom .menu-control {
    left: -249px;
    top: -7px;
}
.menu-control-sub {
    width: 100%;
    margin-left: -5px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}
 
 
.menu-button-left, .menu-button-right {
    background: transparent;
    font-size: 20px;
    color: white !important;
    border: none;
    margin-top: 5px;
    width: 20px;
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
  
::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}
  
.menu-scroll-wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 30px;
    max-height: 195px;
    margin-left: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 23px 0 0 2px;
    
    -webkit-transform: rotate(-90deg) translateY(-15px);
            transform: rotate(-90deg) translateY(-15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
}
.menu-control-sub .menu-scroll-wrapper {
    max-height: 168px;
    margin-left: 31px;
}
.scroll-option {
    display: block;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: right top;
            transform-origin: right top;
    width: 25px;
    height: 25px;
    margin: 3px 0;            
}
.menu-control-button {
    display: block;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 25px;
    height: 25px;
    padding: 4px;
    margin: 3px 5px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}
.vertical-sep-line {
    width: 1px;
    height: 26px;
    background: white;
    margin: 3px;
}
.option-text-input {
    margin: 5px 5px 5px 15px;
    background: transparent;
    border-style: none;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    width: 170px;
    color: white;
}
.option-text-length {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    font-size: 14px;
    color: white;
    margin-right: 5px;
}

.menu-left .option-text-confirm-button, .menu-top .option-text-confirm-button  {
    position: absolute;
    right: -37px;
    top: 0px;
    width: 32px;
    height: 32px;
    background: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
}
.menu-right .option-text-confirm-button, .menu-bottom .option-text-confirm-button  {
    position: absolute;
    left: -37px;
    top: 0px;
    width: 32px;
    height: 32px;
    background: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
}
.option-text-down-button {
    position: absolute;
    bottom: -22px;
    left: 84px;
    font-size: 32px;
    cursor: pointer;
}

.option-text-up-button {
    position: absolute;
    top: -22px;
    left: 84px;
    font-size: 32px;
    cursor: pointer;
}

.option-dot {
    width: 12px;
    height: 12px;
    border: 4px solid black;
    border-radius: 10px;
}