<div #menuLayer *ngIf="objects && activeRoot">
  <div *ngFor="let object of objects">
    <div *ngIf="isActiveObject(object)">
      <div *ngFor="let face of object.faces" [ngClass]="getObjectMenuClass(face)">
        <div class="menu-arrow" [ngStyle]="getObjectMenuArrowStyle(face)">
        </div>
        <div class="menu-layer" [ngStyle]="getObjectMenuLineStyle(face)">
        </div>
        <div class="menu-layer"  [ngStyle]="getObjectMenuButtonStyle(face)">
          <div class="menu-caption">{{face.name}}</div>
          <button class="menu-button">CUSTOM ></button>
          <div *ngIf="menuItems" class="menu-items-wrapper">
            <div *ngFor="let menuItem of menuItems" class="menu-item">
              <div class="menu-space-line"></div>
              <div class="menu-option-button"></div>
              <div class="menu-item-label">
                {{menuItem.name}}
              </div>
              <!-- colors -->
              <div *ngIf="menuItem.affectedParameter==='color'" class="menu-control">                  
                <a class="menu-button-left" (click)="menuOptionScroll($event, menuItem.name, -1, menuItem.optionGroups[0].options)">◄</a>
                <div class="menu-scroll-wrapper">
                  <div class="scroll-option" *ngFor="let option of menuItem.optionGroups[0].options" [ngStyle]="getColorOptionStyle(option)"></div>
                

                </div>
                <a class="menu-button-right" (click)="menuOptionScroll($event,menuItem.name, 1, menuItem.optionGroups[0].options)">►</a>

              </div>
              <!-- graphics -->
              <div *ngIf="menuItem.affectedParameter==='texture' && !menuItem.isText" class="menu-control">                  
                <a class="menu-button-left" (click)="menuOptionScroll($event, menuItem.name, -1, menuItem.optionGroups[0].options)">◄</a>
                <div class="menu-scroll-wrapper">
                  <img class="scroll-option" *ngFor="let option of menuItem.optionGroups[0].options" src="{{option.displayImg}}">

                </div>
                <a class="menu-button-right" (click)="menuOptionScroll($event,menuItem.name, 1, menuItem.optionGroups[0].options)">►</a>

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<canvas #renderTarget class="babylon-viewer" touch-action="none" (contextmenu)="false;"></canvas>
