.babylon-viewer {
    width: 100%;
    height: 100%;
    min-height: 60vh;
    touch-action: none;
}
.menu-layer {
    position: absolute;
    z-index: 0;
    
}
.menu-left .menu-arrow {
    position: absolute;
    z-index: 0;
    background-image: linear-gradient(to right, rgb(0,0,0) , rgba(0,0,0,0));
}
.menu-right .menu-arrow {
    position: absolute;
    z-index: 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0) , rgb(0,0,0));
}
.menu-button {
    position: relative;
    right: 50px;
    width: 100px;
    top: -10px;
    height: 22px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    font-size: 14px;
}
.menu-item {
    position: relative;
}
.menu-caption {
    position: absolute;
    font-size: 16px;
    color: black;
    width: 100px;
    height: 20px;
    width: 100px;
}
.menu-right .menu-caption {
    left: 55px;
}
.menu-left .menu-caption {
    left: -155px;
    text-align: right;
}

.menu-space-line {
    height: 25px;
    width: 1px;
    margin-left: -1px;
    background: black;
}
.menu-option-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: -10px;
    cursor: pointer;
}

.menu-item-label {
    position: relative;    
    font-size: 12px;
    color: black;
}


.menu-left .menu-items-wrapper {
    top: -10px;
    height: 150px;
    width: 300px;
    position: relative;
}
.menu-right .menu-items-wrapper {
    bottom: 180px;
    height: 150px;
    width: 300px;
    right: 300px;
    position: relative;    
    display: flex;
    flex-direction: column-reverse;
}

.menu-left  .menu-items-wrapper .menu-item {
    display: flex;
    flex-direction: column;    
}
.menu-right .menu-items-wrapper .menu-item {
    display: flex;
    flex-direction: column-reverse;    
}

.menu-left .menu-items-wrapper .menu-caption {
    right: 90px;
    
}
.menu-right .menu-items-wrapper .menu-caption {
    
}

.menu-left .menu-items-wrapper .menu-item .menu-item-label {
    width: 100px;
    text-align: right;
    left: -117px;
    top: -9px;
}
.menu-right .menu-items-wrapper .menu-item .menu-item-label {
    top: 10px;
    right: -15px;
}
.menu-right .menu-items-wrapper .menu-item {
    right: -300px;
}

.menu-control {
    position: absolute;
    width: 300px;
    height: 32px;
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.menu-left .menu-control {
    left: 19px;
    top: 19px;
}
.menu-right .menu-control {
    left: -319px;
    top: -7px;
}
 
 
.menu-button-left, .menu-button-right {
    background: transparent;
    font-size: 14px;
    color: white !important;
    border: none;
    margin-top: 15px;
    width: 20px;
    cursor: pointer;
    padding-left: 2px;
}


::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
  
::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}
   
 
  
.menu-scroll-wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 30px;
    max-height: 260px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 23px 0 0 2px;
    
    -webkit-transform: rotate(-90deg) translateY(-15px);
            transform: rotate(-90deg) translateY(-15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
}
.scroll-option {
    display: block;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: right top;
            transform-origin: right top;
    width: 23px;
    height: 23px;
    margin: 3px 0;            
}
