.tab-image {
  max-width: 2.5em;
}

.customization-option {
  cursor: pointer;
}

.option-color {
  display: inline-block;
  background-image: url('../../assets/img/item-icons/color_option.png');
  background-blend-mode: multiply;
  -webkit-background-size: contain;
  background-size: contain;
  width: 2em;
  height: 2em;
}

.customization-option.active .option-image,
.option-color.active {
  border: 2px solid teal;
}

.option-image {
  max-width: 2em;
  border-radius: 0.25em;
  border: 2px solid transparent;
}

.option-description {
  font-size: 0.6em;
  max-width: 10ch;
}
