<tabset [justified]="true" #appearanceTabs *ngIf="!!appearanceData">
  <tab *ngFor="let tab of appearanceData.tabs" (select)="tabChanged(tab)" [disabled]="tabDisabled(tab)">
    <ng-template tabHeading>
      <img class="tab-image" [src]="tab.imgURL"/>
      <h5 class="m-0">{{tab.name | translate | uppercase}}</h5>
    </ng-template>
    <accordion>
      <accordion-group *ngFor="let section of tab.sections" class="m-1" [isOpen]="true">
        <div accordion-heading>
          <img [src]="section.imgURL"/>
          <h6 class="d-inline-block m-0">{{section.name | translate | uppercase}}</h6>
        </div>
        <div *ngFor="let piece of section.pieces"
             [ngSwitch]="piece.type"
             [ngClass]="{'row': (piece.type === 'optionGroup')}">
          <h6 *ngSwitchCase="'text'">{{piece.text | translate | uppercase}}</h6>
          <div *ngFor="let option of (piece.options || [])"
               class="col-auto text-center customization-option p-1"
               [class.active]="option === selectedOption(section)"
               (click)="optionClicked(section, option)">
              <img class="option-image" *ngIf="option.imgURL" [src]="option.imgURL"/>
              <div class="option-description" *ngIf="option.text">{{option.text | translate:{index: option.index} | uppercase}}</div>
              <div class="option-description" *ngIf="option.textParts"><span *ngFor="let part of option.textParts; let isLast=last">{{part | translate | uppercase}}{{isLast ? '' : ', '}}</span></div>
          </div>
        </div>
      </accordion-group>
      <accordion-group *ngIf="getSizeTracking() && getSizeTracking().sizes.length > 0" [isOpen]="true">
        <div accordion-heading>
          <img src=""/>
          <h6 class="d-inline-block m-0">{{'Area' | translate | uppercase}}</h6>
        </div>
        <div *ngIf="getSizeTracking().sizes.length > 1">
          <label>
            {{'Height' | translate | uppercase}}:
            <select [(ngModel)]="getSizeTracking().chosenHeight" (change)="heightChosen()">
              <option *ngFor="let size of getSizeTracking().sizes; index as i" [value]="i">{{size.height + 'CM'}}</option>
            </select>
          </label>
        </div>
        <div>
          <label>
            {{'Area' | translate | uppercase}}:
            <select [(ngModel)]="getSizeTracking().chosenArea" (change)="areaChosen()">
              <option *ngFor="let area of getSizeTracking().sizes[getSizeTracking().chosenHeight].areas; index as i" [value]="i">{{area.width + 'CM x ' + area.depth + 'CM'}}</option>
            </select>
          </label>
        </div>
      </accordion-group>
      <accordion-group *ngIf="colorTracking().colors.length > 0" [isOpen]="true">
        <div accordion-heading>
          <img src=""/>
          <h6 class="d-inline-block m-0">{{'Color' | translate | uppercase}}</h6>
        </div>
        <div *ngFor="let color of colorTracking().colors" class="customization-option option-color m-1"
             [style.background-color]="color"
             [class.active]="color === colorTracking().activeColor"
             (click)="colorSelected(color)">
        </div>
      </accordion-group>
    </accordion>
  </tab>
</tabset>
