
.header-color {
    background-color: #DADADA;

}

.header-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5) !important;
}

.overlay-parent {
    position: relative !important;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 9999;
    color: white;
    display: inline-block;
}